@tailwind base;
@tailwind components;
@tailwind utilities;


.bgGridThing {
    background-color: #f4f4f5;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%234ade80' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.bgCgat {
    background-color: #f4f4f5;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23d4d4d8' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.homeBg {
    background-color: #27272a;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%234ade80' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.loaderGradient {
	background: linear-gradient(-45deg, #e4e4e7, #d4d4d8, #a1a1aa, #e4e4e7, #e4e4e7 );
	background-size: 400% 400%;
	animation: gradient 2s ease infinite;
	height: auto;
}

.aboutGradient {
	background: linear-gradient(-45deg, #e4e4e7, #d4d4d8, #a1a1aa, #e4e4e7, #e4e4e7 );
	background-size: 400% 400%;
	animation: gradient 6s ease infinite;
	height: 100vh;
}

.signOutGradient {
	background: linear-gradient(-45deg, rgb(187 247 208), rgb(134 239 172), rgb(74 222 128), rgb(34 197 94));
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: auto;
}

.signInGradient {
	background: linear-gradient(-45deg, rgb(187 247 208), rgb(187 247 208), rgb(134 239 172), rgb(134 239 172), rgb(74 222 128), rgb(34 197 94));
	background-size: 400% 400%;
	animation: gradient 2s ease infinite;
	height: auto;
}


.greenLoading {
	background: linear-gradient(-45deg, rgb(187 247 208), rgb(134 239 172), rgb(74 222 128), rgb(187 247 208),rgb(187 247 208));
	background-size: 400% 400%;
	animation: gradient 2s ease infinite;
	height: auto;
}

.signInGradient:hover {
	background: transparent;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.scroll::-webkit-scrollbar {
	display: none;
  }

